<!-- <h1>Chippr projecten</h1>

    <% projects.forEach(function(project) { %>
        <strong><%= project.name %></strong>
        <strong><%= project.short_description %></strong>
        <strong><%= project.description %></strong>
        <strong><%= project.logo %></strong>
        <strong><%= project.link %></strong>
        <strong><%= project.main_img %></strong>
     -->

<%- include("partials/header"); -%>

    <main>
      <h1 style="margin-top: 10rem"></h1>

      <section class="hero_section">
        <!-- <img src="assets/beyco2.png" alt="beyco website" id="beyco-img" />
        <h1>Welcome to</h1> -->
      </section>

      <!--Beyco section-->
      <section class="description">
        <div class="description_title">
          <h2>Welcome to</h2>
          <p><%= project.name %></p>
          <p class="short_description">
            <!-- Beyco brengt koffie koper en verkopers samen en maakt de keten
            inzichtelijk. --><%= project.description %>
          </p>
        </div>
      </section>

      <!-- Information partner section -->
      <section class="general_information">
        <div class="general images">
          <img
            src="./assets/Schermafbeelding 2022-03-21 om 13.18.32.png"
            alt="beyco"
          />
          <img src="https://beyco.nl/open-graph-image.jpg" alt="beyco" />
          <img
            src="https://i.ytimg.com/vi/kOgbJYiA_5o/maxresdefault.jpg"
            alt="beyco"
          />
        </div>

        <section class="general">
          <div class="general text">
            <p class="general-paragraph"></p>
            <!-- <p>
              Progreso zet zich al meer dan twintig jaar in om kleine boeren
              huishoudens te ondersteunen bij het produceren en verkopen van
              kwaliteitskoffie en cacao om hun levensonderhoud te verbeteren.
              Progreso gelooft dat dit beste gedaan kan worden door duurzame
              samenwerkingen op te zetten met lokale producentenorganisaties. Ze
              helpt deze organisaties verder te professionaliseren zodat ze
              beter in staat zijn deze kleine boeren huishoudens te kunnen
              ondersteunen. Progreso professionaliseert de toegang tot markten
              via Beyco (‘Beyond coffee and cocoa’), een wereldwijd koffie
              handelsplatform. Het platform faciliteert de koffie en cacaohandel
              en genereert automatisch een track record voor zowel de
              producentenorganisaties, kopers als traders.
            </p> -->
            <a href="<%- project.link %>">Bekijk website</a>
          </div>
        </section>
      </section>

      <!-- Partner Section -->
      <section class="related_projects">
        <div class="projects">
          <h2>RELATED PROJECTS</h2>
       <img src="assets/images/fullcharge-logo.png">
       <img src="assets/images/beyco-logo.svg">
       <img src="assets/images/orbisk-logo.svg">
        </div>
      </section>

      <%- include("partials/footer"); -%>
    </main>

    
  </body>
</html>
